@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Emblema One", serif;
}
body {
    background-image: url();
    background-size: cover;
    background-position: center;
}
.quote-box {
    background-color: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.15);
}
.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 160px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
    font-family: sans-serif;
    font-weight: bold;
}
.quote-box blockquote::before, .quote-box blockquote::after {
    /* will comeback to style big quotation mark color light blue */
    content: '"';
    font-size: 30px;
    color: rgb(23, 124, 229);
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: 'by';
    font-style: italic;
    padding-right: 8px;
    color: rgb(23, 124, 229);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    cursor: pointer;
    margin: 10px;
    align-items: center;
    justify-self: center;
    padding: 25px;
}
.quote-box button svg {
    width: 20px;
    margin-right: 10px;
}
.quote-box button:nth-child(2) {
    background: transparent;
    color: #333;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 120px;
}

#share{
    position: absolute;
    bottom: 0%;
    left: 46%;
    width: 300px;
    height: 60px;
    transform-origin: top center;
    transform: scale(0);
    background: rgba(15, 15, 15, 0.5);
    color: #fff;
    padding: 20px;
    font-family: 'roboto';
    transition: .5s;
    transition-delay: .5s;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 10px 0;
    border-radius: 25px;
}

#share.active{
    transform: scale(1);
    transition-delay: .5s;
}
#social.active .social{
    opacity: 1;
    transition: .5s;
    transition-delay: .5s;
}

#social{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}

#social:nth-child(1){
    background: #1877f2;
}
#social:nth-child(2){
    background: #000;
}
#social:nth-child(3){
    background: #25d366;
}
#social:nth-child(4){
    background: #e4405f
}


@media (max-width: 800px) {
    .quote-box {
        width: 95%;
        padding: 16px;
    }
    .btn {
        gap: 50px;
        height: auto;
        flex-direction: row;
    }
    #share {
        width: 45vw;
        left: 50%;
        bottom: -20%;
        padding: 10px;
        border-radius: 25px;
    }
}

@media (max-width: 500px) {
    .quote-box {
        width: 99vw;
        padding: 6px;
    }
    .quote-box h2 {
        font-size: 16px;
    }
    .quote-box blockquote {
        font-size: 13px;
        min-height: 40px;
    }
    .quote-box button {
        width: 90vw;
        min-width: 120px;
        height: 36px;
        padding: 6px;
        font-size: 12px;
    }
    .btn {
        flex-direction: row;
        gap: 10px;
        height: 50px;
    }
    #share {
        width: 48vw;
        left: 50%;
        bottom: -30%;
        padding: 8px;
        font-size: 13px;
        gap: 10px;
        border-radius: 25px;
    }
    #social {
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 40px;
        margin: 0 2px;
    }
}
